{{>header}}
<h1>{{title1}}</h1>

{{userName}}</br>
 <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>By, Desarrollado por Hayci Zuniga  <a href="https://getbootstrap.com/">Bootstrap.</a></p>
        </div>
</footer>

